<nav class="navbar navbar-default" style="margin: 0px;">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a href="#" class="navbar-brand">Carousel</a>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to("Home", root_path) %></li>
        <li><%= link_to("Travels", travels_path) %></li>
        <li><%= link_to("About", about_path) %></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if system_user_signed_in? %>
        <li><%= link_to(current_system_user.username, system_user_path(current_system_user)) %></li>
        <li><%= link_to("Sign out", destroy_system_user_session_path, :method => :delete) %></li>
        <% else %>
        <li><%= link_to("Login", new_system_user_session_path) %></li>
        <li><%= link_to("Sign up", new_system_user_registration_path) %></li>
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>